/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */
@font-face {
  font-family: 'neoretrodrawregular';
  src: url("../../lib/font/NEORD___-webfont.eot");
  src: url("../../lib/font/NEORD___-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/NEORD___-webfont.woff") format("woff"), url("../../lib/font/NEORD___-webfont.ttf") format("truetype"), url("../../lib/font/NEORD___-webfont.svg#neoretrodrawregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'neoretrofillregular';
  src: url("../../lib/font/NEORF___-webfont.eot");
  src: url("../../lib/font/NEORF___-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/NEORF___-webfont.woff") format("woff"), url("../../lib/font/NEORF___-webfont.ttf") format("truetype"), url("../../lib/font/NEORF___-webfont.svg#neoretrofillregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'colaboratelightregular';
  src: url("../../lib/font/ColabLig-webfont.eot");
  src: url("../../lib/font/ColabLig-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/ColabLig-webfont.woff") format("woff"), url("../../lib/font/ColabLig-webfont.ttf") format("truetype"), url("../../lib/font/ColabLig-webfont.svg#colaboratelightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

.reveal .slides {
  text-align: left; }

.title-bg {
  padding-left: 20px; }

.title-bg-white {
  background-color: white; }

.title-bg-lightest {
  background-color: #fffaa6; }

.title-bg-lighter {
  background-color: #FBB716; }

.title-bg-light {
  background-color: #ff4600; }

.title-bg-med {
  background-color: #606060; }

.title-bg-dark {
  background-color: #058CA3; }

.title-bg-darker {
  background-color: #006772; }

.title-bg-black {
  background-color: #000; }

.title-bg-p2 {
  background-color: #ff7900; }

.tight-kerning {
  letter-spacing: -27px; }

.med-kerning {
  letter-spacing: -18px; }

.comp {
  background-color: white;
  font-size: 14px !important;
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-weight: bold;
  height: 50px;
  width: auto;
  text-align: center;
  color: #006772;
  margin: 2px !important;
  float: left; }

.tablet-1 {
  background-color: #ffff8b; }

.tablet-2 {
  background-color: #ffe100; }

.mobile {
  background-color: #ffba06; }

.wide {
  background-color: #ff8500; }

.red {
  background-color: #ff5100; }

.allred {
  background-color: #ff0200; }

.drinking {
  background-color: transparent;
  font-size: 90px !important;
  font-weight: bold !important;
  color: white;
  padding: 0 !important;
  text-transform: uppercase; }

.name {
  color: #e7e7e7;
  font-size: .8em !important; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fdf6e3;
  background-color: #fdf6e3; }

.reveal {
  font-family: colaboratelightregular;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #fffeff; }

::selection {
  color: white;
  background: #d33682;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #fffeff;
  font-family: neoretrodrawregular;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: keep-all !important; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }
.reveal h2 {
  font-family: neoretrofillregular; }
.reveal h3, .reveal h4 {
  font-family: neoretrofillregular;
  color: #3f3e3f; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: white;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: white;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #d9d9d9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fffeff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: white; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: white; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: white; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: white; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: white; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: white; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: white; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: white; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: white;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: white; }
